body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  form {
    max-width: 380px;
    margin: 22px auto;
    padding: 22px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
  }

  input[type="number"],
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #555;
  }